{% extends 'BackOffice.html.twig' %}

{% block contenu %}
	<div id="layoutSidenav_content">


		<style>
			* {
				box-sizing: border-box;
			}

			.row {
				margin-left: -5px;
				margin-right: -5px;
			}

			.column {
				float: left;
				width: 50%;
				padding: 5px;
			}

			/* Clearfix (clear floats) */
			.row::after {
				content: "";
				clear: both;
				display: table;
			}

			table {
				border-collapse: collapse;
				border-spacing: 0;
				width: 100%;
				border: 1px solid #ddd;
			}

			th,
			td {
				text-align: left;
				padding: 16px;
			}

			tr:nth-child(even) {
				background-color: #f2f2f2;
			}
			.pagination {
				display: inline-block;
			}

			.pagination a {
				color: black;
				float: left;
				padding: 8px 16px;
				text-decoration: none;
			}

			.pagination a.active {
				background-color: #4c9daf;
				color: white;
			}

			.pagination a:hover:not(.active) {
				background-color: #ddd;
			}
			.space {
				width: 4px;
				height: auto;
				display: inline-block;
			}
		</style>

		<div class="container-fluid px-4">
			<h1 class="mt-4">Tables</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item">
					<a href="index.html">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-4">
				<div class="card-body">
					DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
					<a target="_blank" href="https://datatables.net/">official DataTables documentation</a>

				</div>
			</div>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					EVENTS TABLE
				</div>
				<div class="card-body">
					<table class="center" id="datatablesSimple" class="table3 table-dark table-condensed table-bordered" width="100px" border="5">
						<thead class="thead-light">
							<tr>
								<th class="col1">ID</th>
								<th class="col2">NOM</th>
								<th class="col3">DATE DEB</th>
								<th class="col4">DATE FIN</th>
								<th class="col5">LIEU</th>
								<th class="col6">DESC</th>
								<th class="col7">Image</th>

							</tr>
						</thead>
						<a href="{{path('Evenement_add')}}" class="btn btn-dark">Ajouter Event</a>
						<div class="space"></div>
						<div class="space"></div>
						<a href="{{path('PDF_Event')}}" class="btn btn-dark">Exporter en PDF</a>
						<div class="space"></div>
						<div class="space"></div>
						<a href="{{path('event_search')}}" class="btn btn-dark">Chercher Event</a>
						<div class="space"></div>
						<div class="space"></div>
						<a href="{{path('app_adddon')}}" class="btn btn-dark">Ajouter Don</a>

						<h4>List Events</h4>
						{% for i in tabEvenements %}

							<td>{{ i.id}}</td>
							<td>{{ i.getNomEv() }}</td>
							<td>{{ i.getDatedEv() |date('d-m-Y') }}</td>
							<td>{{ i.getDatefEv()|date('d-m-Y') }}</td>
							<td>{{ i.getLieuEv() }}
							</td>
							<td>{{ i.getDescEv() }}
							</td>
							<td><img style="width:200px;" src="{{asset ('uploads/evenements/'~i.getImageEv())}}"></td>

							<td></td>
							<td></td>

							<td>
								<a href="{{path('app_updateEvent', { 'id': i.id })}}" class="btn btn-dark">
									Modifier
								</a>
							</td>
							<td>
								<a href="{{path('app_removeEvent', { 'id': i.id })}}" class="btn btn-danger">Supprimer</a>
							</td>

							<td></td>

						</tr>


					{% endfor %}

				</table>
				<div class="pagination">
					<a>{{ knp_pagination_render(tabEvenements) }}</a>
				</div>

			</div>
		</div>
	</div>
</div>{% endblock %}{% block footer %}{% endblock %}
