{% extends 'BackOffice.html.twig' %}
{% block contenu %}

	<div class="container-fluid px-4">
		<h1 class="mt-4">Listes des administrateurs</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('page_acceuil_back_office')}}">Dashboard Magic Book</a>
			</li>
			<li class="breadcrumb-item active">Utilisateurs</li>

		</ol>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i>
				Tables
			</div>
			<div class="card-body">

				<div class="row">
					<div class="col-xl-3 col-md-6">
						<div class="card bg-primary text-white mb-4">
							<div class="card-body">Administrateurs</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="{{ path('liste_administrateurs')}}">Gérer</a>
								<div class="small text-white">
									<i class="fas fa-angle-right"></i>
								</div>
							</div>
						</div>
					</div>


					<div class="col-xl-3 col-md-6">
						<div class="card bg-warning text-white mb-4">
							<div class="card-body">Élèves</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="{{ path('liste_eleves')}}">Gérer</a>
								<div class="small text-white">
									<i class="fas fa-angle-right"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-success text-white mb-4">
							<div class="card-body">Enseignants</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="{{ path('liste_enseignants')}}">Gérer</a>
								<div class="small text-white">
									<i class="fas fa-angle-right"></i>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main></div></div>{% endblock %}{% block js %}<script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script><script src="{{ asset('js_back/scripts.js') }}"></script><script src="{{ asset('https://cdn.jsdelivr.net/npm/simple-datatables@latest') }}" crossorigin="anonymous"></script><script src="{{ asset('js_back/datatables-simple-demo.js') }}"></script>{% endblock %}
