{% extends 'BackOffice.html.twig' %}
{% block contenu %}

	<div class="container-fluid px-4">
		<h1 class="mt-4">Listes des Enseignants</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('page_acceuil_back_office')}}">Dashboard Magic Book</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="{{ path('liste_utilisateur')}}">Utilisateurs</a>
			</li>
			<li class="breadcrumb-item active">Enseignants</li>
		</ol>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i>
				Table des enseignants
			</div>
			<div class="card-body">
				<table id="datatablesSimple" cellspacing="1">
					<thead>
						<tr>
							<th>Rôle</th>
							<th>ID</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Pseudo</th>
							<th>Mot de passe</th>
							<th>Émail</th>
							<th>Age</th>
							<th>Genre</th>
							<th>Cours</th>
							<th>Formations</th>
							<th>Réclamations</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Rôle</th>
							<th>ID</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Pseudo</th>
							<th>Mot de passe</th>
							<th>Émail</th>
							<th>Age</th>
							<th>Genre</th>
							<th>Cours</th>
							<th>Formations</th>
							<th>Réclamations</th>
							<th>Modifier</th>
							<th>Supprimer</th>

						</tr>
					</tfoot>
					<tbody>
						{% for enseignant in liste_enseignants %}
							<tr>
								<td>{{enseignant.roleutil}}</td>
								<td>{{enseignant.id}}</td>
								<td>{{enseignant.nomutil}}</td>
								<td>{{enseignant.prenomutil}}</td>
								<td>{{enseignant.pseudoutil}}</td>
								<td>{{enseignant.motdepasseutil}}</td>
								<td>{{enseignant.emailutil}}</td>
								<td>{{enseignant.ageutil}}</td>
								{# affichage du genre selon sa valeur dans la BD #}
								{% if enseignant.genreutil == 'H' %}
									<td>Homme</td>
								{% else %}
									<td>Femme</td>
								{% endif %}

								<td>
									<a class="btn btn-primary" href="{{ path('page_acceuil_back_office')}}">Liste des cours</a>
								</td>
								<td>
									<a class="btn btn-primary" href="{{ path('page_acceuil_back_office')}}">Liste des formations</a>
								</td>
								<td>
									<a class="btn btn-primary" href="{{ path('page_acceuil_back_office')}}">Liste des réclamations</a>
								</td>
								<th><img src="{{asset('images2/icone_supprimer.png')}}" alt="logo"></th>
								<th><img src="{{asset('images2/icone_supprimer.png')}}" alt="logo"></th>
							</tr>

						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
</main></div></div>{% endblock %}{% block js %}<script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script><script src="{{ asset('js_back/scripts.js') }}"></script><script src="{{ asset('https://cdn.jsdelivr.net/npm/simple-datatables@latest') }}" crossorigin="anonymous"></script><script src="{{ asset('js_back/datatables-simple-demo.js') }}"></script>{% endblock %}
