{% extends 'BackOffice.html.twig' %}
{% block contenu %}

	<div class="container-fluid px-4">
		<h1 class="mt-4">Listes des administrateurs</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('page_acceuil_back_office')}}">Dashboard Magic Book</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="{{ path('liste_utilisateur')}}">Utilisateurs</a>
			</li>
			<li class="breadcrumb-item active">Administrateurs</li>
		</ol>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i>
				Table des administrateurs
			</div>
			<div class="card-body">
				<table id="datatablesSimple">
					<thead>
						<tr>
							<th>Rôle</th>
							<th>ID</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Pseudo</th>
							<th>Mot de passe</th>
							<th>Émail</th>
							<th>Age</th>
							<th>Genre</th>
							<th>Réponse</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Rôle</th>
							<th>ID</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Pseudo</th>
							<th>Mot de passe</th>
							<th>Émail</th>
							<th>Age</th>
							<th>Genre</th>
							<th>Réponse</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					</tfoot>
					<tbody>
						{%for admin in liste_administrateurs %}
							<tr>
								<td>{{admin.roleutil}}</td>
								<td>{{admin.id}}</td>
								<td>Indéfini</td>
								<td>Indéfini</td>
								<td>{{admin.pseudoutil}}</td>
								<td>{{admin.motdepasseutil}}</td>
								<td>{{admin.emailutil}}</td>
								<td>Indéfini</td>
								<td>Indéfini</td>
								<td>
									<a class="btn btn-primary" href="{{ path('page_acceuil_back_office')}}">
										Liste des réponses
									</a>
								</td>
								<th>
									<a href=""><img src="{{asset('images2/icone_modifier.png')}}" alt="logo"></a>
								</th>
								<th>
									<a href="{{ path('supprimer_utilisateur',{'id1':admin.id}) }}"><img src="{{asset('images2/icone_supprimer.png')}}" alt="logo"></a>
								</th>
							</tr>

						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
</div></div>{% endblock %}{% block js %}<script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script><script src="{{ asset('js_back/scripts.js') }}"></script><script src="{{ asset('https://cdn.jsdelivr.net/npm/simple-datatables@latest') }}" crossorigin="anonymous"></script><script src="{{ asset('js_back/datatables-simple-demo.js') }}"></script>{% endblock %}
