{% extends 'FrontOfficeConnecte.html.twig'%}

{% block body %}
<h1 class="align-center">Bienvenue </h1>
 
 <table class="table">
        <thead class="thead-light">
          <tr>        
           
    </tr>
    </thead>
    <tbody>
    {% for a in matiere %}
        <tr>
            <td><h1> <a href="{{ path('cour_list') }}">{{a.NomCatg}} </h1></td>
            <td><a class="btn btn-dark" href="{{ path('app_update', {'id': a.id}) }}">Modifier</a></td>
            <td><a href="{{ path('app_remove', {'id': a.id}) }}" class="btn btn-danger">supprimer</a></td>
            </tr>
    {% else %}
        <tr>
            <td colspan="8">Veuillez ajouter la matière </td> 
        </tr>
    {% endfor %}
    </tbody>
</table>
<center>
<td> <h1><a class="btn btn-primary" href="{{ path('AjouterMatiere1') }}" class="pbtn btn-primary">Ajouter une matière</a></h1> </td>
</center>
<br>
<br>
<br>
<br>




{% endblock %}